.chat-room {
	height: 275px;
	color: #D4D4D4;
	&__title {
		background-color: #414141;
		padding: 6px 29px;
		font-size: 14px;
	}
	&__content {
		padding: 11px 25px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 6px;
		font-size: 12px;
	}
}